################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/x64/Debug
/.vs/WS02_P1/v16/ipch/AutoPCH
